.fraud-protection-container {
  border-radius: 3px;
  width: 25vw;
}

.fraud-protection-tile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px;
}

#individual-taxes-container {
  background-color: white;
}

.fraud-protection-text {
  margin-bottom: 10px;
}

#lowest-tile {
  margin-top: 15px;
  min-height: 50px;
}
