.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d52b1e;
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
}

.header-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d52b1e;
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  transition: all 0.3s ease;
}

.narrow-nav-bar-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #d52b1e;
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  transition: all 0.3s ease;
}

.drop-down-nav-bar-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #d52b1e;
  position: fixed;
  top: 0;
  width: 100%;
  height: 250px;
  transition: all 0.3s ease;
}

.hamburger-menu-icon {
  width: 28px;
  height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 16px;
  border: 1px solid white;
  border-radius: 3px;
  padding: 7px;
  margin-bottom: 30px;
}

.bar {
  width: 20px;
  height: 1px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.hamburger-menu:hover .bar {
  background-color: gray;
}

.pay-simply-logo {
  height: 35px;
}

.pay-simply-logo-opposite-side {
  height: 35px;
  margin: 10px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
}

.drop-down-navigation-list {
  display: flex;
  flex-direction: column;
}

.navigation-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.drop-down-navigation-links {
  position: absolute;
  top: 55px;
  left: 14px;
}

.hide-navigation-links {
  display: none;
}

.navigation-link {
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.navigation-link:hover {
  text-decoration: underline;
}

.drop-down-navigation-link {
  margin: 10px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: opacity 20s ease, height 20s ease;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 240px;
  height: 35px;
}
