* {
  font-family: Metropolis, sans-serif;
}

body {
  background-color: #f8f9fa;
}

.app-container {
  height: 100vh;
  overflow-y: scroll;
}

.body-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.below-progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.taxpayer-details {
  margin-bottom: 20px;
  margin-right: 30px;
}

@media screen and (max-width: 820px) {
  .fraud-protection-container {
    display: none;
  }

  .taxpayer-details-form {
    width: 95%;
  }

  .progress-bar-container {
    display: none;
  }

  .taxpayer-details {
    margin: 0px;
  }

  .outer-taxpayer-container {
    width: 93vw;
  }
}
